* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

button {
  margin: 5px;
  margin-left: 0;
  background-color: #0366d6;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

input {
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  color: #24292e;
  outline: none;
  transition: border 0.2s ease-in-out;
  width: 100%;
}

input:focus {
  border-color: #0366d6;
  box-shadow: 0px 0px 5px rgba(3, 102, 214, 0.2);
}

.divider {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #d1d5da;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: #24292e;
  margin-bottom: 8px;
  transition: background-color 0.2s ease-in-out;
}

ul li:hover {
  background-color: #f6f8fa;
}
